{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>СТО Гараж №1 быстро и качественно произведет ремонт легковых авто импортного и отечественного производства любой сложности!</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values%}
            {% if el == 'Hello' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor%}
        {% for el in obj%}
            <p>{{ el }}</p>
        {% endfor%}
    </div>
{% endblock %}